#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.flex-cont-row {
  display: flex;
  flex-direction: row;
}

.flex-cont-col {
  display: flex;
  flex-direction: column;
}

.layout-header {
  height: 600px;
  background-image: url('src/assets/space_shot.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  justify-content: center;
  border-bottom: 2px solid grey;
}

.layout-title {
  font-size: 4rem;
}

.layout-btn-cont {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.layout-btn {
  width: 350px;
  font-weight: bold;
}

.creators-cont {
  min-height: 500px;
}

.creator-card {
  width: 35%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid grey;
  border-radius: 5px;
}

.creator-card-sub {
  background-color: transparent;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75));
}

.creator-card-desc-cont {
  /* background-color: blue; */
  height: 50%;
  width: 100%;
}

.creator-card-desc {
  /* background-color: brown; */
  font-size: 0.8em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
