#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.layout {
  /* width: 100%;
  background-color: rebeccapurple;  */
}

.flex-cont-row {
  display: flex;
  flex-direction: row;
}

.flex-cont-col {
  display: flex;
  flex-direction: column;
}

.layout-header {
  height: 600px;
  background-image: url('src/assets/space_shot.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  justify-content: center;
  border-bottom: 2px solid grey;
}

.layout-title {
  font-size: 4rem;
}

.layout-btn-cont {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.layout-btn {
  width: 350px;
  font-weight: bold;
}

.creators-cont {
  min-height: 500px;
}
